
body {
  background-color: #f0f0f0;
  font-family: sans-serif;
  padding: 0;
  width: 90%;
  margin: auto;
}
header div {

 width: 90%;
}

a {
  text-decoration: none;
  font-size: bold;

}

nav {

  padding: 10px 3px 10px 3px;
  text-align: center;
  display: flex;
}

nav ul {
margin: 0;
padding: 0;
display: flex;
list-style: none;
justify-content: right;
}

nav li {
margin-right: 20px;

}



.icons {
  text-align: right;
  width: 100%;
  display: inline-block;
}


/* .suosikki {
  background-image: url("../image/heart.png");
  display: inline-block;
  width: 30px;
  height: 24px;
  margin: 3px;
  background-size: cover;
}

.login{

  background-image: url('../image/login.png');
  display: inline-block;
  padding-right: 20px;
  width: 30px;
  height: 29px;
  margin: 3px;
  background-size: cover;
} */
.kieli {
  margin: 7px -10px 0px 0px;
}

h1{
  margin-top: 0;
  color: #312f2f;
}

hr {
  border: 0;
  height: 5px;
  background-image: linear-gradient(to right, #50a1b1, #72a6a1, #ccc);
}

.button {
  background-color: rgb(177, 181, 148);
  border: 0.2rem;
  border-radius: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  font-size: medium;
  height: auto;
  width: auto;
  float: right;
  border-radius: 0.5rem;
}

button {
  background-color: rgb(206, 209, 185);
  border: 0.2rem;
  border-radius: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  font-size: medium;
  float: right;
}

.home_btn {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #549680;
  display: inline-block;
  font-size: 1em;

  padding: 0.5em 1em;
  text-decoration: none;
}


